.input {
    border-radius: 100px;
    border: 1px solid green;
}

#btn {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 100px;
    background-color: red;
    color: white;
    padding: 10px;
    border: 5px solid blue;
    margin-left: 350px;
    margin-top: 200px;
}

.my-box{
    width: 100vw;
    height: 100px;
    background-color: chocolate;
    position: static;
    top: 0;   
}